

body{
   background-attachment: fixed;
    background-size: 80vh 80vw;
    color: black;
    margin: 0%;
    font-family: 'Times New Roman', Times, serif;
}

button {

    color: blue;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    opacity: 0.9;
}

input[type=text], input[type=password], input[type=email],input[type=radio],input[type=submit] {
    
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
   
    